  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">MEDIKAGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/admin_rs/profile/">Profil</a>
      </li>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sesi Konsultasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/sesi_konsultasi/create/">Buat Sesi Konsultasi</a>
          <a class="dropdown-item" href="/sesi_konsultasi/read/">Daftar Sesi Konsultasi</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Poliklinik
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'layanan_poli:layanan_create' %}">Buat Layanan Poliklinik</a>
          <a class="dropdown-item" href="{% url 'layanan_poli:layanan_read' %}">Daftar Layanan Poliklinik</a>
          <a class="dropdown-item" href="{% url 'layanan_poli:jadwal_read' %}">Daftar Jadwal Poliklinik</a>
        </div>
      </li>

       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RS Cabang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/rs_cabang/create/">Buat RS Cabang</a>
          <a class="dropdown-item" href="/rs_cabang/read/">Daftar RS Cabang</a>
          <a class="dropdown-item" href="{%url 'dokter_rscabang:register' %}">Daftarkan Dokter</a>
          <a class="dropdown-item" href="{%url 'dokter_rscabang:daftar' %}">Daftar Dokter-RS Cabang</a>
          <a class="dropdown-item" href="#">Daftarkan Administrator</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tindakan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/tindakan/create/">Buat Tindakan</a>
          <a class="dropdown-item" href="/tindakan/">Daftar Tindakan</a>
          <a class="dropdown-item" href="/tindakan/poliklinik/create/">Buat Tindakan Poliklinik</a>
          <a class="dropdown-item" href="/tindakan/poliklinik/">Daftar Tindakan Poliklinik</a>
        </div>
      </li>
    


      <li class="nav-item">
        <a class="nav-link" href="/transaksi/read/">Daftar Transaksi</a>
      </li>
    </ul>
    <a class="btn btn-sm btn-outline-success" href="{% url 'pengguna:logout' %}">Logout</a>
  </div>
</nav>
