
{% extends 'base.html' %}
{% block content%}
  <div class="container">
      <h1>Profile Administrator</h1>
        <div>
            <div class="row">
            <div class="col-4">Username</div>
            <div class="col-8">{{ username }}</div>
            </div>
            <div class="row mt-3">
            <div class="col-4">Nomor Identitas</div>
            <div class="col-8">{{ nomor_id }}</div>
            </div>
            <div class="row mt-3">
            <div class="col-4">Nama Lengkap</div>
            <div class="col-8">{{ nama_lengkap }}</div>
            </div>
            <div class="row mt-3">
            <div class="col-4">Tanggal Lahir</div>
            <div class="col-8">{{ tanggal_lahir }}</div>
            </div>
            <div class="row mt-3">
            <div class="col-4">Email</div>
            <div class="col-8">{{ email }}</div>
            </div>
            <div class="row mt-3">
            <div class="col-4">Alamat</div>
            <div class="col-8">{{ alamat }}</div>
            </div>
        </div>
  </div>
{%endblock%}