<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        @media only screen and (max-width: 600px) {
            h1{
                font-size: 20px;
            }
        }
    </style>
</head>
<body>
     {% load crispy_forms_tags %}
     <div class="container">
    <h1 class="d-flex  justify-content-center">
      {{ title|default:"form" }}
    </h1>
    <form action="{{ target_url }}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-center justify-content-center">
        <button type="submit" class="btn-primary btn">
          {{ submit_text|default:"Submit" }}
        </button>
      </div>
    </form>
  </div>
</body>
<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Kelompok 69</a>
  </div>
</footer>