<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <script>
        swal({
                title: "Akun teregistrasi!",
                text: "Yeay, akun Anda sudah teregistrasi!",
                type: "success",
                icon: "success",
            }).then(function() {
                window.location.href = "{% url 'pengguna:profile' %}";
            });
    </script>
</body>