<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">MEDIKAGO</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pengguna:profile' %}">Profil</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Daftar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            href="{% url 'sesi_konsultasi:konsul_form_read' %}"
          >
            Daftar Sesi Konsultasi
          </a>
          <a class="dropdown-item" href="{% url 'tindakan:poli-read'%}">
            Daftar Tindakan Poliklinik
          </a>
          <a class="dropdown-item" href="{% url 'tindakan:read'%}">
            Daftar Tindakan
          </a>
          <a class="dropdown-item" href="{% url 'layanan_poli:layanan_read' %}">Daftar Layanan Poli</a>
          <a class="dropdown-item" href="{% url 'layanan_poli:jadwal_read' %}">Daftar Jadwal Poli</a>
          <a class="dropdown-item" href="{% url 'transaksi:transaksi_read'%}">
            Daftar Transaksi
          </a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          RS Cabang
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'rs_cabang:rs_form_read' %}">Daftar RS Cabang</a>
          <a class="dropdown-item" href="{%url 'dokter_rscabang:daftar' %}">Daftar Dokter RS Cabang</a>
        </div>
      </li>
    </ul>
    <a
      class="btn btn-sm btn-outline-success"
      href="{% url 'pengguna:logout' %}"
    >
      Logout
    </a>
  </div>
</nav>
