{% extends 'base.html' %}
{% load gettype %}

{% block title %}Profil{% endblock %}

{% block content %}
<div class="container">
  <h1>Profile {{ request.session.role|title }}</h1>
  <div>
    {% for key, value in data.items %}
    <div class="row">
      <div class="col-4">{{ key }}</div>
      :
      <div class="col-7">
        {% if value|get_type == "list" %}
        <ul>
          {% for v in value %}
          <li>{{ v }}</li>
          {% endfor %}
        </ul>
        {% else %}
        {{ value }}
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
