<head>
  {% load crispy_forms_tags %}
  {% load static %}
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="container">
    <h1 class="d-flex h1 justify-content-center">
      Pilih Role
    </h1>
    <div class="container" >
        <div class="card-deck">
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="{% static 'img/patient_vector.png'%}" alt="Pasien">
                <div class="card-body">
                    <h4 class="card-title">Pasien</h4><br>
                    <a href="{% url 'pengguna:register-role' 'pasien' %}" class="btn btn-primary">Daftar</a>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="{% static 'img/doctor_vector.png'%}" alt="Dokter" style="max-width:250;top:0;left:0;right:0; bottom:0; width:auto;margin:auto;" >
                <div class="card-body">
                    <h4 class="card-title">Dokter</h4><br>
                    <a href="{% url 'pengguna:register-role' 'dokter' %}" class="btn btn-primary">Daftar</a>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="{% static 'img/admin_vector.png'%}" alt="Admin" width="400" height="400" >
                <div class="card-body">
                    <h4 class="card-title">Administrator</h4><br>
                    <a href="{% url 'admin_rs:form_admin' %}" class="btn btn-primary">Daftar</a>
                </div>
            </div>
        </div>
    </div>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</body>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Kelompok 69</a>
  </div>
</footer>