{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
   <style>
        @media only screen and (max-width: 600px) {
            h1{
                font-size: 20px;
            }
        }
    </style>
  {% load crispy_forms_tags %}
  <div class="container">
    <h1 class="d-flex justify-content-center">
      {{ title|default:"form" }}
    </h1>
    {% if links %}
    <div id="links" class="my-3">
      {% for link in links %}
      <a class="btn btn-primary" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </div>
    {% endif %}

    <form action="{{ target_url }}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-center justify-content-center">
        <button type="submit" class="btn-primary btn">
          {{ submit_text|default:"Submit" }}
        </button>
      </div>
    </form>
  </div>
{% endblock %}
