<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Medikago - 69{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <style>
      header {
          max-wdth:2000px;
          max-height:3500px;
          background: black;
          overflow: hidden;
      }

      img {
        object-fit: cover;
        opacity: 0.45;
      }
      section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-family: 'Roboto', sans-serif;
      }
      .header{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .header2{
        font-family: Roboto, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: normal;
        line-height: 25px;
        text-transform: none;
        color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <header>
      <img src="{%static 'img/landing.jpeg'%}" alt="Hospital Management">
      <section class='header-text'>

          <h1 class="header">MEDIKAGO</h1>
          <h3 class="header2">Track or manage your medical activity with ease.</h3>
          <h3 class="header2">Anytime, Anywhere.</h3>
          <a class="btn btn-outline-primary" href="{% url 'pengguna:login' %}">Login</a>
          <a class="btn btn-outline-primary ml-3" href="{% url 'pengguna:register' %}">Register</a>
      </section>
    </header>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Kelompok 69</a>
    </div>
  </footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
