{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <div class="row">
    <div class="col-12">
      <div id="links" class="my-3">
        {% for link in links %}
        <a class="btn btn-primary" href="{{ link.url }}">{{ link.name }}</a>
        {% endfor %}

        {% if request.session.role == 'admin' %}
        {% for link in admin_links %}
        <a class="btn btn-primary" href="{{ link.url }}">{{ link.name }}</a>
        {% endfor %}
        {% endif %}
      </div>

      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if data %}
      <input id="inputField" class="mt-3" type="text" placeholder="Search..">
      <div class="d-flex justify-content-center mt-2 mb-3">
        <table class="table table-responsive table-hover" id="table_generic">
          <thead class="thead-dark">
            <tr>
              {% for h in header %}
              <th>{{ h }}</th>
              {% endfor %}
              {% if request.session.role == 'admin' %}
              <th>Action</th>
              {% endif %}

            </tr>
          </thead>
          <tbody id="table-body">
            {% for value in data %}
            <tr>
              {% for k, v in value.items %}
              {% if k != 'pk' %}
              <td>{{ v }}</td>
              {% endif %}
              {% endfor %}
              <td>
                <a href="{{jadwal_url}}?search={{ value.id_poliklinik }}" class="btn btn-primary">JADWAL</a>
              </td>
              {% if request.session.role == 'admin' %}
              <td>
                <a href="{{ update_url }}{{ value.pk }}/" class="btn-warning btn mt-2">
                  Update
                </a>
                <a href="{{ delete_url }}{{ value.pk }}/" onclick="confirmDelete(this)" class="btn-danger btn ml-lg-3 mt-2" id="delete-button">
                  Delete
                </a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <h1 class="text-center">Histori kosong :( </h1>
      {% endif %}
      </div>
    </div>
  {% if pagination %}
  <div class="row">
      <div class="col-6" id="prev-section">
        <button class="btn btn-md btn-success" id="prevButton">Previous</button>
      </div>
      <div class="col-6" id="next-section">
        <button class="btn btn-md btn-success" id="nextButton">Next</button>
      </div>
  </div>
{% endif %}
</div>
{% endblock %}

{% block script %}
<script>
function confirmDelete(element) {
  event.preventDefault()
  swal({
    title: "Anda yakin?",
    text: "Data yang dipilih akan dihapus!",
    type: "warning",
    icon: "warning",
    buttons: [
      'Jangan dong!',
      'Iya, hapus saja!'
    ]
  }).then(function(isConfirm) {
    if (isConfirm) {
      window.location.href=$(element).attr('href');
    }
  })
}

$(document).ready(function(){
  var page=1;
  $("#prevButton").hide();
  $("#inputField").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table-body tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

  $("#nextButton").on("click",function(){
    if(nextPage(page)){
      page++;
    }
  });

  $("#prevButton").on("click",function(){
    prevPage(page);
    if(page > 1){
      page--;
    }
    if(page==1){
      $("#prevButton").hide();
    }
    $("#nextButton").show();
  });
});


//Function to check number of result on a page
function checkPage(page){
  var ans=0;
  var token = '{{csrf_token}}';
  $.ajax({
    headers: { "X-CSRFToken": token },
    type:"POST",
    url:"{{api_url}}",
    async:false,
    data:{offset:page,mode:"forward"},
    dataType: "json",
    success:function(result){
      ans=result.length;
    }   
  });
  return ans;
}

//Function to go to the next page
function nextPage(currPage){
  var token = '{{csrf_token}}';
  var bool= true;
  var disableButton = false;
  $.ajax({
    headers: { "X-CSRFToken": token },
    type:"POST",
    url:"{{api_url}}",
    data:{offset:currPage,mode:"forward"},
    dataType: "json",
    beforeSend: function() {
        $("#nextButton").prop("disabled", true);
        $("#prevButton").prop("disabled", true);
      },
    success:function(result){
      if(currPage > 0){
        limitSize=result.length;
      }
      document.getElementById("table-body").innerHTML="";
      for(var i=0;i < result.length;i++){
        var output="<tr>";
        for(var key in result[i]){
          if(key!="pk"){
            output+="<td>"+result[i][key]+"</td>";
          }
          else{
            output+='{% if request.session.role == "admin" %}<td><a href="{{ update_url }}'+result[i][key]+'/" class="btn-warning btn mt-2">Update </a><a href="{{ delete_url }}'+result[i][key]+'/" onclick="confirmDelete(this)" class="btn-danger btn ml-lg-3 mt-2" id="delete-button">Delete</a></td>{% endif %}';
          }
        }
      
        output+="</tr>";
        $("#table-body").append(output);
      }    
 
      if( (currPage > 1 && checkPage(currPage-1) > checkPage(currPage) ) || checkPage(currPage+1) == 0){
          $("#nextButton").hide();
          bool=false;
        }
      $("#nextButton").removeAttr('disabled');
      $("#prevButton").removeAttr('disabled');
  },
  error: function(xhr, status, error) {
    alert(xhr.responseText);

  }
  });
  if(currPage >= 1){
         $("#prevButton").show();
    }
  return bool;
}

//Function to go to the previous page
function prevPage(currPage){
  var token = '{{csrf_token}}';
  $.ajax({
    headers: { "X-CSRFToken": token },
    type:"POST",
    url:"{{api_url}}",
    data:{offset:currPage,mode:"backward"},
    dataType: "json",
    beforeSend: function() {
        $("#nextButton").prop("disabled", true);
        $("#prevButton").prop("disabled", true);
      },
    success:function(result){
      document.getElementById("table-body").innerHTML="";
      for(var i=0;i < result.length;i++){
        var output="<tr>";
        for(var key in result[i]){
          if(key!="pk"){
            output+="<td>"+result[i][key]+"</td>";
          }
          else{
            output+='{% if request.session.role == "admin" %}<td><a href="{{ update_url }}'+result[i][key]+'/" class="btn-warning btn mt-2">Update </a><a href="{{ delete_url }}'+result[i][key]+'/" onclick="confirmDelete(this)" class="btn-danger btn ml-lg-3 mt-2" id="delete-button">Delete</a></td>{% endif %}';
          }
        }
        output+="</tr>";
        $("#table-body").append(output);
      }    
      $("#nextButton").removeAttr('disabled');
      $("#prevButton").removeAttr('disabled');
  },
  error: function(xhr, status, error) {
    alert(xhr.responseText);
  }
  });
}

</script>
{% endblock %}
