<head>
    <title>Daftar Layanan Poliklinik</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
{% include "navbar-admin.html"%}
<div class="container">
    <h1 class="text-center">Tabel Jadwal Layanan Poliklinik</h1>
    <div id="create" class="my-3">
        <a class="btn btn-primary" href="{{create_url}}">CREATE</a>
    </div>
    <div class="d-flex justify-content-center">
        <table class="table table-responsive table-hover">
        <thead class="thead-dark">
            <tr>
            <th scope="col">ID Jadwal Poliklinik</th>
            <th scope="col">Hari</th>
            <th scope="col">Waktu Mulai</th>
            <th scope="col">Waktu Selesai</th>
            <th scope="col">Kapasitas</th>
            <th scope="col">ID Dokter</th>
            <th scope="col">ID Polklinik</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for value in data %}
            <tr>
            <td>{{value.dataForm.id_jadwal_poli}}</td>
            <td>{{value.dataForm.hari}}</td>
            <td>{{value.dataForm.waktu_mulai}}</td>
            <td>{{value.dataForm.waktu_selesai}}</td>
            <td>{{value.dataForm.kapasitas}}</td>
            <td>{{value.dataForm.id_dokter}}</td>
            <td>{{value.dataForm.id_poliklinik}}</td>
            <td><a href="{{update_url}}{{value.pk}}" class="btn-warning btn">UPDATE</a> <a href="{{delete_url}}{{value.pk}}" class="btn-danger btn ml-2">DELETE</a></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</body>
